.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 70px 30px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

.search-form__content {
  display: flex;
  padding: 0 70px;
}

.search-form__search-input-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding-right: 10px;
}

.search-form__text-input {
  width: 1060px;
  padding: 15px 0 15px 22px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: #000;
}

.search-form__text-input:focus {
  outline: none;
  box-shadow: #F3C1F8 0 0 0 3px;
}

.search-form__button {
  width: 70px;
  height: 44px;
  padding: 0;
  background-color: #000;
  border: none;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.63;
  color: #FFF;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: .6;
}

.search-form__button:focus {
  outline: none;
  box-shadow: #F3C1F8 0 0 0 3px;
}

.search-form__submit-button {
  background-color: #000;
  color: white;
  width: 70px;
  height: 44px;
  border-radius: 3px;
  margin-left: 10px;
  border-color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.search-form__shorts-wrapper {
  display: flex;
  padding-top: 31px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 167px;
  align-self: center;
}

.search-form__shorts-title {
  margin: 0;
  font-size: 13px;
  line-height: 1.38;
}

@media screen and (max-width: 1023px) {
  .search-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-form__search-input-wrapper {
    margin-bottom: 38px;
  }

  .search-form__text-input {
    width: 628px;
  }
}

@media screen and (max-width: 320px) {
  .search-form__text-input {
    width: 212px;
  }
}
